h1 {
  color: green;
  span {
    color: red;
  }
  + div {
    color: black;
  }
  &.main {
    font-size: 2em;
    div {
      &.intro {
        font-style: italic;
      }
    }
  }
}
div {
  p { color: black; }
}
